/*Jeremy Warwood*/
/*
declaration block:

selector{
property: value;
property2: value;
}
*/
/*this document will be fetched in the head of the HTML document where the game code is written*/
/*these are the css commands that change the bachground color, and */
/*change the aignment of the game instructions to center*/
body{
    background-color: rgb(156, 156, 215);
    color: rgb(13, 12, 12);
    text-align: center;
    border: double;
}